{:mvn/repos {"github" {:url "https://maven.pkg.github.com/kepler16/*"}}

 :deps
 {ring/ring-core {:mvn/version "1.9.2"}
  ring/ring-jetty-adapter {:mvn/version "1.9.2"}
  metosin/reitit {:mvn/version "0.5.12"}
  http-kit/http-kit {:mvn/version "2.5.3"}}

 :aliases
 {:deploy! {:extra-deps {kepler16/deploy {:mvn/version "0.1.0"}}
            :exec-fn kepler16.deploy/build-and-deploy!
            :exec-args {:jar "target/lib.jar"
                        :jar-type :thin
                        :sync-pom true
                        :verbose true
                        :group-id kepler16
                        :artifact-id http
                        :version "0.2.10"}}}}
