{:metav.maven/group-id "kepler16"
 :metav/module-name-override "http"
 :metav.release/spit true
 :metav.display/output-format :edn
 :metav.spit/namespace "version"
 :metav.spit/output-dir "."
 :metav.spit/pom true
 :metav.release/without-push true}
